/* Status text */
.Contact .status .status-text {
    color: #999;
    margin: 0;
    display: inline-block;
  }
  
  /* Status (rounded&colored indicator) */
  .Contact .status .status-online,
  .Contact .status .status-offline {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 6px;
    display: inline-block;
  }
  
  .Contact .status .status-online {
    background: #aed581;
  }
  
  .Contact .status .status-offline {
    background: #f4511e;
  }